#ship{
    float: right;
    box-shadow: 4px 4px 0px 0px #999;
    border: 1px solid #ddd;
    transform: rotate(3deg);
    padding: 10px 10px 10px 10px;
    margin:0px 0px 20px 20px;
}

#ship img{
    height: 200px;
    width: 300px;
}

header{
    font-family: 'Seaweed Script';
    font-size: 24px;
}

#treasure{
    float: left;
    box-shadow: 4px 4px 0px 0px #999;
    transform: rotate(-3deg);
    border: 1px solid #ddd;
    padding: 10px 10px 10px 5px;
    margin: 0px 30px 30px 0px;
}

#treasure img{
    width: 300px;
    height: 200px;
}


p{
    font-family: 'Nanum Brush Script'
}

body{
    background-color: #ccc;
}

#text{
    background: white;
    height: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
}

figcaption{
    font-family: 'Nanum Brush Script';
    text-align: center;
    padding: 10px;
}